@media(max-width:991px){

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    z-index: 1;
    margin-top: 0;
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    top: 0;
    transform:scale(1,0);
    transition:all .3s linear;
    transform-origin:left;
}
    .navbar-collapse{
        transform:scale(1,1);
        width: 230px;
    }

.navbar-collapse li {
    margin: 3px 10px;
}

button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: 0 0 0;
    border: 0;
    
}
.navbar button{
	font-size: 14px;
	border: 0;
}
}